@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: rgb(158, 20, 128);
    --secondary: rgb(219, 24, 174);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, monospace;
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    color: black
}

#app-title {
    color: white;
    padding: 0.15rem 0.3rem;
    font-size: 2rem;
    font-weight: 800;
    background-color: var(--primary);
    text-transform: uppercase;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.3rem - 5rem);
    width: min(90%,550px);
    position: relative;
    margin: 0 auto;
}

#cta-button {
    border: none;
    border-radius: 15px;
    background-color: var(--primary);
    padding: 0.5rem 0;
    color: white;
    font: inherit;
    text-transform: uppercase;
    width: 100%;
    transition: 0.1s;
}

#cta-button:hover {
    background-color: var(--secondary);
}

.title {
    width: 100%;
    align-items: end;
    flex: 1;
}

.title > * {
    margin-bottom: 1rem;
}

.background-image {
    width: 100%;
    flex: 2;
    align-content: center;
    max-height: 70vh;
}

@media screen and (max-height: 667px){
    .background-image {
        width: 80%;
    }
}

.background-image > div{
    position: relative;
    z-index: -50;
    translate: 0 40px;
    aspect-ratio: 3/4;
    background: 
        linear-gradient(0deg, rgba(255, 255,255,1) 20%, transparent 90%), 
        /* linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 1)),  */
        url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
